.dark {
  --primary-bg: #121212;
  --secondary-bg: #1f4037;
  --primary-text: #eaeaea;
  --secondary-text: #b0b0b0;
  --accent: #5ed9ff;
  --border: #212121;
  --muted: #6e6e6e;
  --name-colour: #2de1fc;
}
